<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no")
		title Beat
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oswald:300,400")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600i,700")
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/beat.css")
		script(src="js/libs.min.js")
		script(src="js/mobile-chrome-vh-fix.js")
		script(src="js/main.js")
		script(src="js/beat.js")
	body
		.top-tab-menu

			.menu-icon
				include ../img/svg/site-menu-znachok.svg
				span.text МЕНЮ
				span.left.line
				span.right.line


			.slider-wrapper
				.slider
					.owl-carousel
						.item.beat
							.active
								include ../img/svg/menu-beat.svg
						.item
							include ../img/svg/menu-teens.svg
						.item
							include ../img/svg/logo-blog-final.svg
						.item
							include ../img/svg/menu-ryvok.svg


			.slide-content
				ul
					li
						a(href="#whatIsThat") что такое «beat»
					li
						a(href="#facts") 8 фактов про «beat»
					li
						a(href="#results") результаты и отзывы
					li
						a(href="#abonements") абонементы
					li
						a(href="#answers") вопрос-ответ
					li
						a(href="#board") свежие новости
				.soc-links
						a(href="#" class="fb-link")
							include ../img/svg/menu-soc-fb.svg
						a(href="#" class="insta-link")
							include ../img/svg/menu-soc-insta.svg

		include parts/side_menu_beat.pug

		.main-wrapper
			.ask #[.text Задать вопрос]
				include ../img/svg/bw-plashka-vopros.svg
			.get-lesson
				div Записаться #[span.desktop-part на тренировку]
				include ../img/svg/bw-plashka-zapis-na-tren.svg
			.first-screen.screen
				.bottom-button
				.main-menu
					ul
						li
							a(href="#whatIsThat") что такое «beat»
						li
							a(href="#facts") 8 фактов про «beat»
						li
							a(href="#results") результаты и отзывы
						li
							a(href="#abonements") абонементы
						li
							a(href="#answers") вопрос-ответ
						li
							a(href="#board") свежие новости
				.video-screen
					video.b-lazy(width="100%" height="100%" loop autoplay poster="img/poster.jpg")
						source(data-src="video/rozminka.mp4" type="video/mp4")
				.touch-photo
					img(src="img/beat/beat-max-adaptive.jpg", alt="")
				.first-content-block
					.first-text
						.top-text заставь максима
							//- .line1
							//- .line2
						.bottom-text #[p Попасть] #[p в #[span бит]]
					.play-btn
						img.default(src="img/svg/play-button.svg", alt="")
						img.hover(src="img/svg/play-button-red.svg", alt="")
						.pulse.first
						.pulse.second
						.pulse.third
				.play-btn.tablet
					img.default(src="img/svg/play-button.svg", alt="")
					img.hover(src="img/svg/play-button-red.svg", alt="")
					.pulse.first
					.pulse.second
					.pulse.third
			.second-screen.screen#whatIsThat
				.bottom-button
				.flashlight
				.front-block
					.beat-logo
						.top-svg
							include ../img/svg/equalizer.svg
						.bottom-svg
							include ../img/svg/menu-beat.svg
					.center-block 
						p(data-aos="fade-left") #[span.orange ритмично-спортивное безумие]
						p(data-aos="fade-right") под современные диджейские
						p(data-aos="fade-left") сеты
					.center-block.iphone-6
						p(data-aos="fade-left") #[span.orange ритмично-спортивное]
						p(data-aos="fade-right") #[span.orange безумие]
						p(data-aos="fade-left") под современные
						p(data-aos="fade-right") диджейские
						p(data-aos="fade-left") сеты
					.center-block.iphone-5
						p(data-aos="fade-left") #[span.orange ритмично-спортивное]
						p(data-aos="fade-right") #[span.orange безумие] 
						p(data-aos="fade-left") под современные
						p(data-aos="fade-right") диджейские
						p(data-aos="fade-left") сеты
					.second-bottom
						.watch-video-btn 
							.text Смотреть видео
							.bg 
								include ../img/svg/dokinul-knopka-pff-default.svg
							.hover-bg
								include ../img/svg/dokinul-knopka-pff.svg
						a.partner-link(href="http://www.morshinska.ua/" target="_blank")
							img(src="img/gen-menu-partner.png", alt="")
					.speakers.mobile
						.speaker.animated.infinite.pulse
							img(src="img/beat/kolonka.png", alt="")
						.speaker.animated.infinite.pulse
							img(src="img/beat/kolonka.png", alt="")
						.speaker.animated.infinite.pulse
							img(src="img/beat/kolonka.png", alt="")
						.speaker.animated.infinite.pulse
							img(src="img/beat/kolonka.png", alt="")
					.speakers.first
						.speaker.animated.infinite.pulse
							img(src="img/beat/kolonka.png", alt="")
						.speaker.animated.infinite.pulse
							img(src="img/beat/kolonka.png", alt="")
					.speakers.second
						.speaker.animated.infinite.pulse
							img(src="img/beat/kolonka.png", alt="")
						.speaker.animated.infinite.pulse
							img(src="img/beat/kolonka.png", alt="")
					.speakers.third
						.speaker.animated.infinite.pulse
							img(src="img/beat/kolonka.png", alt="")
						.speaker.animated.infinite.pulse
							img(src="img/beat/kolonka.png", alt="")
					.speakers.fourth
						.speaker.animated.infinite.pulse
							img(src="img/beat/kolonka.png", alt="")
						.speaker.animated.infinite.pulse
							img(src="img/beat/kolonka.png", alt="")
			.third-screen.screen#facts
				.bottom-button
				.cool-slider
					.owl-carousel
						.item
							.text-block
								.logo
									.top 
										include ../img/svg/menu-ryvok.svg
									.bottom 
										include ../img/svg/menu-beat.svg
								.text Музыкальный драйв каждой тренировки не просто стройнит тело, а еще и существенно повышает #[spam.orange сексуальность и харизму]!
							.photo-bg
								img(src="img/beat/slide1.jpg", alt="")
						.item
							.text-block
								.logo
									.top 
										include ../img/svg/menu-ryvok.svg
									.bottom 
										include ../img/svg/menu-beat.svg
								.text #[span.orange Контроль техники выполнения упражнений,] что максимально предоствращает травмы
							.photo-bg
								img(src="img/beat/slide1.jpg", alt="")
						.item
							.text-block
								.logo
									.top 
										include ../img/svg/menu-ryvok.svg
									.bottom 
										include ../img/svg/menu-beat.svg
								.text Высокоинтенсивные кардиотренировки на которых прорабатываются #[span.orange абсолютно все] группы мышц 
							.photo-bg
								img(src="img/beat/slide1.jpg", alt="")
						.item
							.text-block
								.logo
									.top 
										include ../img/svg/menu-ryvok.svg
									.bottom 
										include ../img/svg/menu-beat.svg
								.text Отсутствие тренажеров и гантелей, работа #[span.orange только со своим телом]
							.photo-bg
								img(src="img/beat/slide1.jpg", alt="")
						.item
							.text-block
								.logo
									.top 
										include ../img/svg/menu-ryvok.svg
									.bottom 
										include ../img/svg/menu-beat.svg
								.text Проверенное фитнес-решение #[span.orange как для мужчин, так и для женщин]
							.photo-bg
								img(src="img/beat/slide1.jpg", alt="")
						.item
							.text-block
								.logo
									.top 
										include ../img/svg/menu-ryvok.svg
									.bottom 
										include ../img/svg/menu-beat.svg
								.text Правильный комплексный подход к питанию #[span.orange без диет и голодовок,] а главное — вкусный :-)
							.photo-bg
								img(src="img/beat/slide1.jpg", alt="")
						.item
							.text-block
								.logo
									.top 
										include ../img/svg/menu-ryvok.svg
									.bottom 
										include ../img/svg/menu-beat.svg
								.text #[span.orange Мотивационный пакет] для поддержки высокого морального духа и контроля результатов
							.photo-bg
								img(src="img/beat/slide1.jpg", alt="")
						.item
							.text-block
								.logo
									.top 
										include ../img/svg/menu-ryvok.svg
									.bottom 
										include ../img/svg/menu-beat.svg
								.text Окружение энергичных людей, которые #[span.orange вдохновляют и заряжают] на достижения
							.photo-bg
								img(src="img/beat/slide1.jpg", alt="")
			.fourth-screen.screen#results
				.bottom-button
				.title-wrapper
					.screen-title Результаты и отзывы
				.result-slider
					.owl-carousel
						.item
							.top-block
								.before-photo
									img(src="img/slider-before.jpg", alt="")
								.after-photo
									img(src="img/slider-after.jpg", alt="")
								.contacts
									.name-age Рианна Иванова,#[br] 24 года
									.soc-icons
										a(href="#")
											include ../img/svg/menu-soc-insta.svg
										a(href="#")
											include ../img/svg/menu-soc-fb.svg
							.review-text.desktop Когда впервые я оказалась в зале, один на один со своим страхом быть поверженной первой же нагрузкой, я сказала себе: «Просто делай как надо, а пончики сожрешь после!» #[a(href="#") читать весь отзыв]
							.review-text.mobile Когда впервые я оказалась в зале, один на один со своим страхом быть поверженной первой же нагрузкой, я сказала себе #[a(href="#") читать весь отзыв]
						.item
							.top-block
								.before-photo
									img(src="img/slider-before.jpg", alt="")
								.after-photo
									img(src="img/slider-after.jpg", alt="")
								.contacts
									.name-age Рианна Иванова,#[br] 24 года
									.soc-icons
										a(href="#")
											include ../img/svg/menu-soc-insta.svg
										a(href="#")
											include ../img/svg/menu-soc-fb.svg
							.review-text.desktop Когда впервые я оказалась в зале, один на один со своим страхом быть поверженной первой же нагрузкой, я сказала себе: «Просто делай как надо, а пончики сожрешь после!» #[a(href="#") читать весь отзыв]
							.review-text.mobile Когда впервые я оказалась в зале, один на один со своим страхом быть поверженной первой же нагрузкой, я сказала себе #[a(href="#") читать весь отзыв]

						.item
							.top-block
								.before-photo
									img(src="img/slider-before.jpg", alt="")
								.after-photo
									img(src="img/slider-after.jpg", alt="")
								.contacts
									.name-age Рианна Иванова,#[br] 24 года
									.soc-icons
										a(href="#")
											include ../img/svg/menu-soc-insta.svg
										a(href="#")
											include ../img/svg/menu-soc-fb.svg
							.review-text.desktop Когда впервые я оказалась в зале, один на один со своим страхом быть поверженной первой же нагрузкой, я сказала себе: «Просто делай как надо, а пончики сожрешь после!» #[a(href="#") читать весь отзыв]
							.review-text.mobile Когда впервые я оказалась в зале, один на один со своим страхом быть поверженной первой же нагрузкой, я сказала себе #[a(href="#") читать весь отзыв]

			.fifth-screen.screen#abonements
				.title-wrapper
					.screen-title Абонементы и привелегии
					.bottom-button

					.abonements.slider
						.owl-carousel
							.item.first
								.content
									a.title(href="full_forward.html") "Полный вперед!"
									.photo
										img(src="img/abon1.png", alt="")
									.desc Получи полный курс тренировок, результат которых уже изменил более 6 000 жизней!
									a.details-link(href="full_forward.html" target="_blank") #[span Подробнее]
										include ../img/svg/dokinul-knopka-podrobnee-default.svg
							.item.second
								.content
									a.title(href="#") "Shape"
									.photo
										img(src="img/abon2.png", alt="")
									.desc Поддерживай своё тело в тонусе, а настроения — на высоте!
									a.details-link(href="#" target="_blank") #[span Подробнее] 
										include ../img/svg/dokinul-knopka-podrobnee-default.svg
							.item.third
								.content
									a.title(href="9-15.html") "9-15"
									.photo
										img(src="img/abon3.png", alt="")
									.desc Уникальный курс общей физической подготовки для детей в стиле Рывка!
									a.details-link(href="9-15.html" target="_blank") #[span Подробнее]
										include ../img/svg/dokinul-knopka-podrobnee-default.svg
							.item.fourth
								.content
									a.title(href="lifestyle.html") "Lifestyle"
									.photo
										img(src="img/abon4.png", alt="")
									.desc Прошел Рывок? — Получи эксклюзивный  VIP-пакет привилегий и скидок!
									a.details-link(href="lifestyle.html" target="_blank") #[span Подробнее]
										include ../img/svg/dokinul-knopka-podrobnee-default.svg	
					
					.abonements
						.item.first
							.content
								a.title(href="full_forward.html") "Полный вперед!"
								.photo
									img(src="img/abon1.png", alt="")
								.desc Получи полный курс тренировок, результат которых уже изменил более 6 000 жизней!
								a.details-link(href="full_forward.html" target="_blank") #[span Подробнее]
									include ../img/svg/dokinul-knopka-podrobnee-default.svg
						.item.second
							.content
								a.title(href="#") "Shape"
								.photo
									img(src="img/abon2.png", alt="")
								.desc Поддерживай своё тело в тонусе, а настроения — на высоте!
								a.details-link(href="#" target="_blank") #[span Подробнее] 
									include ../img/svg/dokinul-knopka-podrobnee-default.svg
						.item.third
							.content
								a.title(href="9-15.html") "9-15"
								.photo
									img(src="img/abon3.png", alt="")
								.desc Уникальный курс общей физической подготовки для детей в стиле Рывка!
								a.details-link(href="9-15.html" target="_blank") #[span Подробнее]
									include ../img/svg/dokinul-knopka-podrobnee-default.svg
						.item.fourth
							.content
								a.title(href="lifestyle.html") "Lifestyle"
								.photo
									img(src="img/abon4.png", alt="")
								.desc Прошел Рывок? — Получи эксклюзивный  VIP-пакет привилегий и скидок!
								a.details-link(href="lifestyle.html" target="_blank") #[span Подробнее]
									include ../img/svg/dokinul-knopka-podrobnee-default.svg				

			.sixth-screen.screen#answers
				.bottom-button
				.title-wrapper
					.screen-title Вопрос-Ответ

				.answers
					.item
						.q-wrapper
							.question «Мне 39 лет. Смогу ли я позволить себе хавать плюшки и при этом не толстеть?»
						.a-wrapper
							//- canvas(id="aCanvas1")
							.answer
								.answer-text Повыше держите попу, купите мороженое и перед сном обязательно примите теплый душ. Утром съешьте три яйца натощак. Вот такой простой рецепт! Но если вам не нравится прыгать и бегать, то просто сидите сиднем, поглощая фастуфудину- чипсятину с колой и варениками. Никто вас не осудит. Например, мой фронтовой товарищ всегда питался только винтовками, и его все равно любили.
								a.full-answer-link(href="#") Читать весь ответ 
					.item
						.q-wrapper
							//- canvas(id="qCanvas1")
							.question «Я никак не могу подобрать стильные трусы для занятия вашей аэробикой. Может, фитнес не для меня?»
						.a-wrapper
							//- canvas(id="aCanvas1")
							.answer 
								.answer-text Ну да, ну да. Вы бы еще сослались на недолет семи пассажирских лайнеров до острова Чикипумпума на Занзибаре! Ладно, вот совет: не грозите южному централу, попивая сок у себя на квартале.
								a.full-answer-link(href="#") Читать весь ответ 
					.item
						.q-wrapper
							//- canvas(id="qCanvas1")
							.question «Я никак не могу подобрать стильные трусы для занятия вашей аэробикой. Может, фитнес не для меня?»
						.a-wrapper
							//- canvas(id="aCanvas1")
							.answer 
								.answer-text Ну да, ну да. Вы бы еще сослались на недолет семи пассажирских лайнеров до острова Чикипумпума на Занзибаре! Ладно, вот совет: не грозите южному централу, попивая сок у себя на квартале.
								a.full-answer-link(href="#") Читать весь ответ 

			.seventh-screen.screen#board
				.board
					.item
						.photo
							img(src="img/promo-img1.jpg", alt="")
						.text 
							a(href="#") Ведущий тренер «Рывка» рекомендует грызть морковку!
							.tags
								.tag /блог
					.item.big
						.photo
							img(src="img/promo-img2.jpg", alt="")
						.text 
							a(href="#") Большое интервью с первой бит-тренировки
							.tags
								.tag /блог
					.item.review-block
						a(href="#")
							.photo
								img(src="img/promo-img3.jpg", alt="")
							.text-block
								.quotes
									img(src="img/quotes_black.png", alt="")
								.review-text мной заслужены особые привилегии «рывка» – это вдохновляет!
								.lifestyle-img
									img(src="img/lifestyle-img.png", alt="")
								span.link фитнес-карта #[br] исключительных #[br] привилегий
					.item
						.photo
							img(src="img/promo-img4.jpg", alt="")
						.text 
							a(href="#") «Рывок-кросс» открывает сезон дерзких уличных занятий
							.tags
								.tag /кросс
					.item.promo-block
						a(href="#")
							.photo
								img(src="img/promo-img5.jpg", alt="")
							.text-block
								.beat-img
									include ../img/svg/menu-beat.svg
								.promo-text а хочешь посещать «рывок-бит» со скидкой 50%?
								.link #[span.link-text Пф, конечно хочу!]
									include ../img/svg/dokinul-knopka-pff-default.svg
					.item.big
						.photo
							img(src="img/promo-img6.jpg", alt="")
						.text 
							a(href="#") «Рывок-бит» снова покорил НСК «Олимпийский»!
							.tags
								.tag /блог
								.tag /beat
				.board.slider
					.owl-carousel
						.item
							.photo
								img(src="img/promo-img1.jpg", alt="")
							.text 
								a(href="#") Ведущий тренер «Рывка» рекомендует грызть морковку!
								.tags
									.tag /блог
						.item.big
							.photo
								img(src="img/promo-img2.jpg", alt="")
							.text 
								a(href="#") Большое интервью с первой бит-тренировки
								.tags
									.tag /блог
						.item.review-block
							a(href="#")
								.photo
									img(src="img/promo-img3.jpg", alt="")
								.text-block
									.quotes
										img(src="img/quotes_black.png", alt="")
									.review-text мной заслужены особые привилегии «рывка» – это вдохновляет!
									.lifestyle-img
										img(src="img/lifestyle-img.png", alt="")
									span.link фитнес-карта #[br] исключительных #[br] привилегий
						.item
							.photo
								img(src="img/promo-img4.jpg", alt="")
							.text 
								a(href="#") «Рывок-кросс» открывает сезон дерзких уличных занятий
								.tags
									.tag /кросс
						.item.promo-block
							a(href="#")
								.photo
									img(src="img/promo-img5.jpg", alt="")
								.text-block
									.beat-img
										include ../img/svg/menu-beat.svg
									.promo-text а хочешь посещать «рывок-бит» со скидкой 50%?
									.link #[span.link-text Пф, конечно хочу!]
										include ../img/svg/dokinul-knopka-pff-default.svg
						.item.big
							.photo
								img(src="img/promo-img6.jpg", alt="")
							.text 
								a(href="#") «Рывок-бит» снова покорил НСК «Олимпийский»!
								.tags
									.tag /блог
									.tag /beat
			.video-popup
				.close-button
				video(width="100%" height="100%")
					source(src="video/rolik1.mp4" type="video/mp4")
			.video-popup-teaser
				.close-button
				video(width="100%" height="100%")
					source(src="video/teaser.mp4" type="video/mp4")
			include parts/footer.pug