<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no")
		title Рывок
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oswald:300,400")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600i,700")
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/results.css")
		script(src="js/libs.min.js")
		script(src="js/mobile-chrome-vh-fix.js")
		script(src="js/main.js")

	body
		.top-tab-menu

			.menu-icon
				include ../img/svg/site-menu-znachok.svg
				span.text МЕНЮ
				span.left.line
				span.right.line


			.slider-wrapper
				.slider
					.owl-carousel
						.item
							include ../img/svg/menu-ryvok.svg
						.item
							include ../img/svg/menu-teens.svg
						.item
							include ../img/svg/logo-blog-final.svg
						.item
							include ../img/svg/menu-beat.svg


			.slide-content
				ul
					li Только отзывы
					li Все
					li Только результаты

				.soc-links
						a(href="#" class="fb-link")
							include ../img/svg/menu-soc-fb.svg
						a(href="#" class="insta-link")
							include ../img/svg/menu-soc-insta.svg

		include parts/side_menu_inner.pug
		
		.main-wrapper.inner
			.ask.inner #[.text Задать вопрос]
				include ../img/svg/bw-plashka-vopros.svg
			.get-lesson.inner
				div Записаться #[span.desktop-part на тренировку]
				include ../img/svg/bw-plashka-zapis-na-tren.svg

			.main-menu
				ul
					li.text отображать:
					li(data-filter=".review") Только отзывы
					li(data-filter="all") Все
					li(data-filter=".result") Только результаты
			
			.screen

				.page-title Отзывы и результаты

				.results-wrapper
					.filter-buttons
						.text Отображать:
						.buttons
							.left-btn.filter-btn(data-filter=".result") #[span Только #[br] отзывы] #[span.background]
							.center-btn.filter-btn(data-filter="all") #[span Все] #[span.background]
							.right-btn.filter-btn(data-filter=".review") #[span Только #[br] результаты] #[span.background]

					.result-items
						.item.mix.review.wow.fadeIn
							a(href="#")
								.photo
									img(src="img/results/result1.jpg", alt="")
								.text-wrapper
									.text Сперва это сносит башню, потом ты не можешь остановиться!
									.link-text Читать весь отзыв

						.item.mix.result.wow.fadeIn
							a(href="#")
								.photo
									img(src="img/results/result2.jpg", alt="")
								.text-wrapper
									.text сбросила 7 (!!) кг всего за две (!!) недели! ты в шоке? а я, блин???
									.link-text Читать весь отзыв

						.item.mix.review.wow.fadeIn
							a(href="#")
								.photo
									img(src="img/results/result3.jpg", alt="")
								.text-wrapper
									.text Сперва это сносит башню, потом ты не можешь остановиться!
									.link-text Читать весь отзыв

						.item.mix.review.wow.fadeIn
							a(href="#")
								.photo
									img(src="img/results/result4.jpg", alt="")
								.text-wrapper
									.text щоб почати це — просто почни. ти переможеш!
									.link-text Читать весь отзыв

						.item.big.mix.result.wow.fadeIn
							a(href="#")
								.photo-desc Джамала:
								.photo
									img(src="img/results/result5.jpg", alt="")
								.text-wrapper
									.text Рывок требует от вас единственного: веры в себя! (и первого места на евровидении)
									.link-text Читать весь отзыв

						.item.mix.review.wow.fadeIn
							a(href="#")
								.photo
									img(src="img/results/result1.jpg", alt="")
								.text-wrapper
									.text Сперва это сносит башню, потом ты не можешь остановиться!
									.link-text Читать весь отзыв


			include parts/footer.pug