footer
	.footer-block.soc-icons.tab-visible
		.text Стань частью семьи:
		.items
			.item
				a(href="#")
					include ../../img/svg/menu-soc-fb.svg
			.item
				a(href="#")
					include ../../img/svg/menu-soc-insta.svg
			.item
				a(href="#")
					include ../../img/svg/menu-soc-youtube.svg
	.footer-block.about-site #[span «Рывок» - авторский фитнес-проект #[br] #[a(href="#") Максима Ярошенко]		]	
	.footer-block.soc-icons.tab-transparent
		.text Стань частью семьи:
		.items
			.item
				a(href="#")
					include ../../img/svg/menu-soc-fb.svg
			.item
				a(href="#")
					include ../../img/svg/menu-soc-insta.svg
			.item
				a(href="#")
					include ../../img/svg/menu-soc-youtube.svg
	.footer-block.dev-info 
		.text-wrapper
			span.text Сайт триумфально создан в #[br] #[a(href="#") Студии Евгения Миллера]