footer
	.footer-block.soc-icons.tab-visible
		.text Стань частью семьи:
		.items
			.item
				a(href="#")
					include ../../img/svg/menu-soc-fb.svg
			.item
				a(href="#")
					include ../../img/svg/menu-soc-insta.svg
			.item
				a(href="#")
					include ../../img/svg/menu-soc-youtube.svg
	.footer-block.about-site #[span «Рывок» - авторский фитнес-проект #[br] #[a(href="#") Максима Ярошенко]]			
	.footer-block.soc-icons.tab-transparent
		.text Стань частью семьи:
		.items
			.item
				a(href="#")
					include ../../img/svg/menu-soc-fb.svg
			.item
				a(href="#")
					include ../../img/svg/menu-soc-insta.svg
			.item
				a(href="#")
					include ../../img/svg/menu-soc-youtube.svg
	.footer-block.dev-info 
		.text-wrapper
			span.text Сайт триумфально создан в #[br] #[a(href="#") Студии Евгения Миллера]

.popup.popup-window-form
	form#popup_form(action="")
		.title-wrapper
			.screen-title Задать вопрос
		.close-button
			.line.left
			.line.right
		.form-element.name
			label(for="popup-name") Имя, фамилия
			.input-wrapper
				input(type="text" id="popup-name" required)
		.form-element.email
			label(for="popup-email") Контактный emal:
			.input-wrapper
				input(type="email" id="popup-email" required)
		.form-element.phone
			label(for="popup-phone") Номер телефона:
			.input-wrapper
				input(type="text" id="popup-phone" required)
		.form-element.text
			label(for="message") .
			textarea#message(name="", cols="30", rows="10")
		.form-submit
			button.submit-btn
				span Отправить вопрос
	.popup.popup-thanks
		.close-button
			.line.left
			.line.right
		.text Ваш вопрос отправлен, спасибо!

.popup.popup-window-form-2
	form#popup_form-2(action="")
		.title-wrapper
			.screen-title Записаться на занятие
		.close-button
			.line.left
			.line.right
		.form-element.name
			label(for="popup-name") Имя, фамилия
			.input-wrapper
				input(type="text" id="popup-name" required)
		.form-element.email
			label(for="popup-email") Контактный emal:
			.input-wrapper
				input(type="email" id="popup-email" required)
		.form-element.phone
			label(for="popup-phone") Номер телефона:
			.input-wrapper
				input(type="text" id="popup-phone" required)
		.form-element.city
			label(for="popup-city") Выберите город:
			.select-block
				.city-select
					.selected-item Выберите город
					.items-wrapper
						.items
							.select-item Киев
							.select-item Луцк
							.select-item Нью-Йорк
							.select-item Антананариву
							.select-item Киев
							.select-item Луцк
							.select-item Нью-Йорк
							.select-item Антананариву
							.select-item Киев
							.select-item Луцк
							.select-item Нью-Йорк
							.select-item Антананариву
							.select-item Киев
							.select-item Луцк
							.select-item Нью-Йорк
							.select-item Антананариву
							.select-item Киев
							.select-item Луцк
							.select-item Нью-Йорк
							.select-item Антананариву
							.select-item Киев
							.select-item Луцк
							.select-item Нью-Йорк
							.select-item Антананариву
							.select-item Киев
							.select-item Луцк
							.select-item Нью-Йорк
							.select-item Антананариву
							.select-item Киев
							.select-item Луцк
							.select-item Нью-Йорк
							.select-item Антананариву
							.select-item Киев
							.select-item Луцк
							.select-item Нью-Йорк
							.select-item Антананариву
							.select-item Киев
							.select-item Луцк
							.select-item Нью-Йорк
							.select-item Антананариву
							.select-item Киев
							.select-item Луцк
							.select-item Нью-Йорк
							.select-item Антананариву
							.select-item Киев
							.select-item Луцк
							.select-item Нью-Йорк
							.select-item Антананариву
			.input-wrapper
				select#city(name="")
		.form-element.location
			label(for="popup-location") Выберите локацию:
			.select-block
				.place-select
					.selected-item Выберите локацию
					.items-wrapper
						.items
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
							.select-item #[span.select-text Фитнес-центр «Аквариум»]  #[span ул. Окуевича, 11/52, офис 4523 (044) 123-45-67, (067) 123-66-88]
			.input-wrapper
				select#popup-location(name="")
		.form-submit
			button.submit-btn
				span Записаться
	.popup.popup-thanks
		.close-button
			.line.left
			.line.right
		.text Ваш заявка отправлена, спасибо!

.popup-background

.general-menu
	.general-menu-wrapper
		.close-button
			.line.left
			.line.right
		.close-mobile-button
			.line.left
			.line.right
		.logo
			include ../../img/svg/menu-ryvok.svg
		ul.menu
			li
				a(href="#" data-text="Тарифы") Тарифы
			li
				a(href="schedule.html" data-text="Расписания") Расписание
			li
				a(href="results.html" data-text="Результаты") Результаты
			li
				a(href="qa.html" data-text="Вопрос-ответ") Вопрос-ответ
			li
				a(href="#" data-text="Книга \"Фуд-экшн\"") Книга "Фуд-экшн"
			li
				a(href="partners_club.html" data-text="Стать партнером") Стать партнером
			li
				a(href="#" data-text="Максим Ярошенко") Максим Ярошенко
			li
				a(href="contacts.html" data-text="Контакты") Контакты