.side-menu.main
	.side-menu-inner
		.menu-icon
			include ../../img/svg/site-menu-znachok.svg
			span.text МЕНЮ

		.page-items
			.item.ryvok
				a(href="#")
					include ../../img/svg/menu-ryvok-animated.svg
			.item.beat.active
				a(href="#")
					include ../../img/svg/menu-beat.svg
			.item.teens
				a(href="#")
					include ../../img/svg/logo-teens-isxodnaya.svg
			.item.blog
				a(href="#")
					include ../../img/svg/logo-blog-final.svg
		.soc-links
			a(href="#" class="fb-link")
				include ../../img/svg/menu-soc-fb.svg
			a(href="#" class="insta-link")
				include ../../img/svg/menu-soc-insta.svg